@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

hr {
  border: none;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  background-color: orange;
  width: 90%;
  position: relative;
  top: .5rem;
}

header {
  width: 100%;
  position: absolute;
  z-index: 2000;
}

.banner-pic {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.body-picture, .mind-picture, .packages-picture, .chefs-picture {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.banner-body {
  position: absolute;
  left: 15%;
  top: 3rem;
  color: #fff;
}

.banner-navigation {
  margin: 0;
  width: 100%;
  position: absolute;
  color: #fff;
  right: 2%;
  display: block;
}

.banner-navigation:hover {
  color: #fff;
  background-color: orange;
}

h1 {
  margin: 0;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: .75rem;
  color: #fff;
}

h2 {
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
  display: block;
  position: relative;
  right: 1.5rem;
}

h3 {
  font-size: .9rem;
  margin: 0;
  text-align: center;
  display: block;
  position: relative;
  right: 1.5rem;
}

h4 {
  position: relative;
  top: 1rem;
}

/* Mind, Body, Packages, Chef -> LINK */

.mind-link, .body-link, .packages-link, .chefs-link {
  display: none;
}

/* END LINK */

.instagram, .facebook, .twitter {
  width: 20%;
}

.facebook {
  position: relative;
  left: 3rem;
}

.instagram {
  position: relative;
  left: 4rem;
}

.twitter {
  position: relative;
  left: 5rem;
}

.instagram, .twitter {
  position: relative;
  bottom: 1rem;
}

.mind-link:hover {
  background-color: orange;
  color: #fff;
  font-weight: bold;
}

.body-link:hover {
  background-color: orange;
  color: #fff;
  font-weight: bold;
}

.packages-nav:hover {
  background-color: #fff;
  color: orange;
}

.location-nav:hover {
  background-color: #fff;
  color: orange;
}

.media-nav:hover {
  background-color: #fff;
  color: orange;
}

.packages-link:hover {
  background-color: orange;
  color: #fff;
  font-weight: bold;
}

.chefs-link:hover {
  background-color: orange;
  color: #fff;
  font-weight: bold;
}

.circle-one {
  position: relative;
  width: 20%;
  left: .75rem;
  top: 1rem;
}

.circle-two {
  position: relative;
  width: 20%;
  left: 1.5rem;
  top: 1rem;
}

.circle-three {
  position: relative;
  width: 20%;
  left: 2rem;
  top: 1rem;
}

.circle-four {
  position: relative;
  width: 20%;
  left: 2.5rem;
  top: 1rem;
}

.nav-check:checked ~ .nav {
  display: block;
}

.banner-nav {
  display: none;
}

.nav-check {
  position: absolute;
  top: -5em;
}

.nav-icon-open, .nav-icon-close {
  width: 20px;
  position: relative;
  left: 0.50rem;
}

.nav-icon-close {
  display: none;
  position: relative;
  bottom: 4.5rem;
}

.nav-check:checked ~ .nav-label .nav-icon-close {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-icon-open {
  display: none;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 50px;
  float: right;
  right: 0;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  bottom: -0.5rem;
  left: 18.5rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: orange;
  right: 0;
  top: 50%;
  width: 15em;
}

nav a {
  display: block;
  padding: .5em .75em;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  list-style-type: none;
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

.banner-body {
  max-width: 30em;
  color: #fff;
  margin: 0;
  text-align: center;
}

.btn-subtle {
  color: #fff;
  text-decoration: none;
  border-width: 10px;
  display: inline-block;
  font-size: 1rem;
  margin: 6px;
  border: solid transparent;
  font-weight: bold;
  color: #fff;
  border-left-width: 2.5rem;
  border-right-width: 2.5rem;
  border-top-width: 1rem;
  border-bottom-width: 1rem;
  position: relative;
  right: 1.5rem;
  bottom: 0.50rem;
}

.btn-subtle:hover {
  background-color: orange;
  border: solid transparent;
  border-radius: .3rem;
  border-left-width: 2.5rem;
  border-right-width: 2.5rem;
  border-top-width: 1rem;
  border-bottom-width: 1rem;
}

footer {
  position: relative;
  background-color: orange;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  nav li {
    display: inline-block;
  }

  h2, h3 {
    position: relative;
    left: 3rem;
  }

  h2 {
    font-size: 2.3rem;
    position: relative;
    top: 5rem;
    left: 2rem;
  }

  h3 {
    font-size: 1.7rem;
    position: relative;
    top: 6rem;
    left: 2rem;
  }

  .btn-subtle {
    font-size: 1.7rem;
    position: relative;
    top: 7rem;
    left: 2rem;
  }

  .nav {
    width: 100%;
  }

  .nav li {
    float: left;
    width: 50%;
  }

  .nav-icon-open {
    position: relative;
    left: 29rem;
  }

  .facebook {
    position: relative;
    top: 1rem;
  }

  .facebook, .instagram, .twitter {
    position: relative;
    right: 3rem;
  }

  .circle-one {
    position: relative;
    left: 3rem;
  }

  .circle-two {
    position: relative;
    left: 4rem;
  }

  .circle-three {
    position: relative;
    left: 4.5rem;
  }

  .circle-four {
    position: relative;
    left: 5.5rem;
  }

  .chefs-link {
    position: relative;
    font-size: 1.2rem;
    left: 12rem;
  }

  .packages-link {
    position: relative;
    font-size: 1.2rem;
    left: 9.5rem;
  }

  .mind-link {
    position: relative;
    font-size: 1.2rem;
    left: 6rem;
  }

  .body-link {
    position: relative;
    font-size: 1.2rem;
    left: 4rem;
  }

  .facebook {
    position: relative;
    left: 8rem;
  }

  .instagram {
    position: relative;
    left: 10rem;
    bottom: 1.3rem;
  }

  .twitter {
    position: relative;
    left: 12rem;
    bottom: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .btn-subtle {
    font-size: 1rem;
    position: relative;
    left: 1rem;
  }

  .banner-content {
    left: 15%;
    top: 5rem;
  }

  .banner-navigation {
    text-align: right;
  }

  .nav-icon-open {
    position: relative;
    left: 21rem;
    bottom: 1rem;
  }

  .nav-check {
    position: absolute;
    top: -8em;
  }

  .chefs-link {
    position: relative;
    left: 14rem;
  }

  .body-link, .mind-link, .packages-link, .chefs-link {
    display: inline-block;
    position: relative;
    top: 1rem;
  }

  .body-link {
    position: relative;
    left: 3.5rem;
  }

  .mind-link {
    position: relative;
    left: 5rem;
  }

  .packages-link {
    position: relative;
    left: 7.5rem;
  }

  .chefs-link {
    position: relative;
    left: 10rem;
  }

  .body-link, .mind-link, .packages-link, .chefs-link {
    text-decoration: none;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    text-align: left;
  }

  h1, nav {
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    font-size: 3rem;
    position: relative;
    left: 3rem;
  }

  h3 {
    font-size: 2rem;
    position: relative;
    left: 3rem;
  }

  .btn-subtle {
    font-size: 1rem;
    position: relative;
    left: 3rem;
  }

  .banner-navigation:hover {
    background-color: inherit;
  }

  .nav-icon-open, .nav-icon-close {
    position: relative;
    left: 45rem;
    bottom: 3rem;
  }

  .nav-icon-close {
    position: relative;
    left: 53rem;
  }

  .banner-info {
    left: 10%;
    top: 5rem;
  }

  .banner-navigation {
    background-color: inherit;
  }

  .body-link {
    position: relative;
    left: 3rem;
  }

  .mind-link {
    position: relative;
    left: 7rem;
  }

  .packages-link {
    position: relative;
    left: 12.5rem;
  }

  .chefs-link {
    position: relative;
    left: 18rem;
  }

  .circle-one {
    position: relative;
    left: 2rem;
  }

  .circle-two {
    position: relative;
    left: 4rem;
  }

  .circle-three {
    position: relative;
    left: 5rem;
  }

  .circle-four {
    position: relative;
    left: 7rem;
  }

  .instagram, .twitter {
    position: relative;
    bottom: 1.5rem;
  }

  .facebook {
    position: relative;
    left: 9rem;
  }

  .instagram {
    position: relative;
    left: 11rem;
  }

  .twitter {
    position: relative;
    left: 13rem;
  }

  .nav {
    display: inline-block;
    background-color: inherit;
    position: relative;
    bottom: 2rem;
    left: 3rem;
    color: #fff;
  }

  .packages-nav:hover {
    background-color: #806EA9;
    border-radius: 5rem;
    border-width: 5px;
  }

  .location-nav:hover {
    background-color: #806EA9;
    border-radius: 5rem;
    border-width: 5px;
  }

  .media-nav:hover {
    background-color: #806EA9;
    border-radius: 5rem;
    border-width: 5px;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  nav li {
    display: inline-block;
  }

  h2, h3 {
    position: relative;
    left: 3rem;
  }

  h2 {
    font-size: 4rem;
    position: relative;
    top: 9rem;
    left: 9rem;
  }

  h3 {
    font-size: 1.7rem;
    position: relative;
    top: 9rem;
    left: 9rem;
  }

  .banner-navigation:hover {
    background-color: inherit;
  }

  .nav {
    display: inline-block;
    background-color: inherit;
    position: relative;
    bottom: 1rem;
    left: 3rem;
    color: #fff;
  }

  .packages-nav, .location-nav, .media-nav {
    font-size: 2rem;
    bottom: 3.5rem;
    position: relative;
  }

  .packages-nav:hover {
    background-color: #806EA9;
    border-radius: 5rem;
    border-width: 5px;
  }

  .location-nav:hover {
    background-color: #806EA9;
    border-radius: 5rem;
    border-width: 5px;
  }

  .media-nav:hover {
    background-color: #806EA9;
    border-radius: 5rem;
    border-width: 5px;
  }

  .nav-icon-open {
    position: relative;
    right: 4rem;
  }

  .btn-subtle {
    font-size: 1.7rem;
    position: relative;
    top: 9rem;
    left: 9rem;
  }

  .nav {
    width: 100%;
  }

  .nav li {
    float: left;
    width: 50%;
  }

  .nav-icon-open {
    position: relative;
    left: 54.5rem;
  }

  .nav-icon-close {
    position: relative;
    left: 55.5rem;
    bottom: 3.5rem;
  }

  .facebook {
    position: relative;
    top: 1rem;
  }

  .facebook, .instagram, .twitter {
    position: relative;
    right: 2rem;
  }

  .circle-one {
    position: relative;
    left: 3rem;
  }

  .circle-two {
    position: relative;
    left: 5rem;
  }

  .circle-three {
    position: relative;
    left: 7rem;
  }

  .circle-four {
    position: relative;
    left: 9rem;
  }

  .chefs-link {
    position: relative;
    font-size: 1.2rem;
    left: 32rem;
  }

  .packages-link {
    position: relative;
    font-size: 1.2rem;
    left: 24rem;
  }

  .mind-link {
    position: relative;
    font-size: 1.2rem;
    left: 15rem;
  }

  .body-link {
    position: relative;
    font-size: 1.2rem;
    left: 5.5rem;
  }

  .facebook {
    position: relative;
    left: 12rem;
  }

  .instagram {
    position: relative;
    left: 14rem;
    bottom: 2.5rem;
  }

  .twitter {
    position: relative;
    left: 17rem;
    bottom: 2.5rem;
  }

  .nav-check {
    position: relative;
    bottom: 50rem;
  }

}
